modules = ["python-3.12", "c-clang14", "nodejs-20", "web"]

[nix]
channel = "stable-24_05"
packages = ["cacert", "cargo", "libiconv", "mailutils", "rustc", "vim", "lsof"]

[[ports]]
localPort = 5000
externalPort = 80
