{% extends "base.html" %}

{% block title %}Home - Med Info App{% endblock %}

{% block content %}
<div class="menu">
    <h2>Welcome to Med Info App</h2>
    <p>Please choose an action:</p>
    <ul>
        <li><a href="{{ url_for('main.login') }}">Login</a></li>
        <li><a href="{{ url_for('main.signup') }}">Sign Up</a></li>
        <li><a href="{{ url_for('main.dashboard') }}">Dashboard</a></li>
        <li><a href="{{ url_for('main.logout') }}">Logout</a></li>
    </ul>
</div>
{% endblock %}

